.Calculator {
    margin: 0;
    box-sizing: border-box;

}


.titl h5 {
    color: gray;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;

}

.titl h1 {
    
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.text1 {
    padding-left: 6vw;
  
}

.Calculator_item {
    margin: 0px;

    padding: 0vw;
}

.term {

    font-size: 2.5vw;
    padding-top: 0vw;
}

.Calculatorr {
    position: relative;
    display: block;
    font-size: 1vw;


}

.totalcont {

    display: flex;
}



.test1 {

    margin-left: 7vw;
    outline: none;
    width: 33vw;
    height: 3vw;
    background-color: aqua;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgb(115, 19, 19);
    padding: .5vw 0vw 0vw 0vw;
    margin-top: 12px;
    text-align: center;
    line-height: 3vw;



}

.cont {
    /* background-color: #1765ed; */

    margin-left: 2vw;
    width: 14vw;
    font-size: 2.5vw;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    line-height: 4vw;

}

.h6 {
    padding-left: 7vw;
    margin: 10px;
    padding-bottom: 0vw;

}

.test {

    width: 30vw;
    display: inline-block;
}

.tatal { 
    display: flex;
}

.result {
    border: 2px solid black;
    /* background-color: brown; */

    width: 50vw;
    font-size: 2vw;
    margin :1vw 2vw .5vw 3vw;
}


.Details {

    color: #1765ed;
    padding: 0vw 0vw 0vw 1vw;
}

.Payment {

    padding-left: 4vw;

}

.totalPayment {

    border: 1px solid #1765ed;
    color: #1765ed;
    padding: 3px;
}

@media only screen and (max-width: 393px) {
    .Calculator {
        margin: 7vw;
        box-sizing: border-box;
                /* background-color: brown; */

    }
    
    .tatal {
        display: block;
        /* padding: 4vw; */

    }
    
.result {
    border: 2px solid black;
    width: 50vw;
    font-size: 3vw;
    margin :7vw 0vw 0vw 7vw;
    padding: 1.5vw;
}
.test {
    width: 30vw;
    display: inline-block;
}
.cont {

    width: 20vw;
    font-size: 3vw;
   
}
.test1 {

    /* margin-left: 7vw; */
    /* outline:invert; */
    width: 40vw;
    height: 7vw;
    background-color: aqua;
    border-radius: 20px;
    padding: 2vw 0vw 0vw 0vw;
    margin-top: 0px;



}


}

