.Contactt {
    background-color: rgb(186, 197, 197);
    width: 100%;

}

.h1 {
    padding-top: 1vw;
    color: rgb(1, 1, 1);
    text-align: center;
    margin-top: 10px;
    font-size: 2.5vw;
}

@media only screen and (max-width: 393px) {
    .h1 {
        font-size: 5vw;

    }
}


.part1 {
    padding-left: 0px;
    /* background-color: aqua; */

}

.contact_child {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    flex-wrap: wrap;
    padding-left: 4vw;


}

.contact_child1 {
    box-shadow: 0px 0px 2px 0.5px rgb(255, 255, 255);
    padding: 2rem;
    overflow: hidden;
    margin-left: 6vw;
    height: 60%;


}

.h3 {
    width: 55%;
    /* margin: auto; */
    margin-bottom: 0.5rem;
}

.input {
    width: 150px;
    background-color: rgb(247, 246, 246);
    border: none;
    padding-left: 1.5vw;
    margin: 1rem;
}

.phone {
    width: 75%;
    background-color: rgb(247, 246, 246);
    border: none;
    padding-left: 1.5vw;
    margin: 0rem 1rem 1rem;
}

.textarea {
    background-color: rgb(247, 246, 246);
    border: none;
    padding: 1px;
    width: 24rem;
    margin-left: 10px;
}

.buttonn {

    width: 15%;
    margin: auto;
}

.button {
    cursor: pointer;
    width: 100%;
    padding: 0.6rem;
    border: none;
    background-color: rgb(26, 26, 228);
    color: white;
}

.ul {

    list-style: none;
}



.span {
    padding: 0.5rem;
    margin: 0.5rem;
    color: rgb(253, 253, 253);
}

@media only screen and (max-width: 393px) {
    .buttonn {
        width: 30%;
    }
    .textarea {
       
        width: 70vw;
    }
    .phone {
        width: 150px;
       
    }
    .contact_child1 {
        box-shadow: 0px 0px 0px 1px rgb(182, 16, 16);
        margin: 5vw;
    }
    .button {
       
        margin: 5vw;
        font-size: 5vw;
    } 
}