.container {
    background-image: url("../../../public/img10.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8vw;
    padding-right: 8vw;
    height: 80vh;
    opacity: 0.7;;
    margin-top: 0;

}





.text_home {
    color: rgb(255, 252, 252);
    border-radius:20px;
    margin-top: 7vh;
    padding: .2vw 2vw;    
    display: inline-block; 
    border: 2px solid rgb(0, 191, 255);
    font-size: 2.5vw;
}
.text2_home {
    color: rgb(253, 253, 253);
    font-size: 5vw;
    width: 50vw;
    margin-top: 1vh;


}
.text3_home {
    color: rgb(247, 239, 239);
    width: 45vw;
}
.but_Apply_home{
    margin-top: 2vh;
    margin-bottom: 3vh;
    padding: .5vh  1.5vw;  
    background-color:  rgba(16, 152, 243, 0.927);  
    font-size: 2.5vw;
    border-radius:20vw;
    border: none;
}
.a_Apply_home{
    text-decoration: none;
    color: rgb(255, 239, 239);
    font-size: 2.5vw;
    position: relative;
 }
 