.container {
    background-image: url("../../../public/img10.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8vw;
    padding-right: 8vw;
    /* height: 80vh; */
    opacity: 0.7;
    ;
    margin-top: 0;
    position: relative;


}





.text_home {
    color: rgb(255, 252, 252);
    border-radius: 20px;
    margin-top: 7vh;
    padding: .2vw 2vw;
    display: inline-block;
    border: 2px solid rgb(0, 191, 255);
    font-size: 2vw;
    opacity: 0; /* جعل النص غير مرئي في البداية */
  animation: slideInFromRight 1s ease-in-out 1s forwards;
  transform: translateX(-50%);


}
@keyframes slideInFromRight {
    to {
      opacity: 1; 
      transform: translateX(0%);

    }
  }





  

.text2_home {
    color: rgb(253, 253, 253);
    font-size: 5vw;
    width: 50vw;
    margin-top: 1vh;
    transform: translateX(50%);

    opacity: 0; 
    animation: slideInFromRight  2s ease-in-out 2s forwards;

}
@keyframes slideInFromRight  {
    to {
      opacity: 1; 
      transform: translateX(0%);
    }
  }
.text3_home {
    color: rgb(247, 239, 239);
    width: 45vw;
    opacity: 0; 
    animation: slideInFromTop  3s ease-in-out 2s forwards;
    transform: translateY(-100%);
}
@keyframes slideInFromTop  {
    to {
        transform: translateY(0%); 
      opacity: 1; 
    }
  }

.but_Apply_home {
    margin-top: 2vh;
    margin-bottom: 7vh;
    padding: .5vh 1.5vw;
    background-color: rgba(16, 152, 243, 0.927);
    font-size: 2.5vw;
    border-radius: 20vw;
    border: none;
    opacity: 0; 
    animation: slideInFromTop  3s ease-in-out 1s forwards;

    transform: translateY(100%);
}
@keyframes slideInFromTop  {
    to {
        transform: translateY(0%); 
      opacity: 1; 
    }
  }

.a_Apply_home {
    text-decoration: none;
    color: rgb(255, 239, 239);
    font-size: 2vw;
    position: relative;
}

@media screen and (min-width: 1210px) {}

@media screen and (max-width: 664px) {
    .container {
        height: 100%;
    }

    .text_home {
       
        margin-top: 4vh;
        display: inline-block;
        border: 3px solid rgb(0, 191, 255);
        font-size: 4vw;
    }
    .text2_home {
        font-size: 7vw;
        width: 70vw;
        margin-top: 1vh;
    
    
    }
    
    .text3_home {
        color: rgb(247, 239, 239);
        width: 50vw;
        font-size: 3vw;
    }
    .but_Apply_home {
       margin-bottom: 7%;
        padding: .5vh 2vw;
        font-size: 4vw;
        border-radius: 20vw;
    }
    
    .a_Apply_home {
        font-size: 4vw;
    }
    



}